*.nupkg

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/

# Visual Studio 2015 cache/options directory
.vs/

# JetBrains
.idea/

# NuGet Packages Directory
packages/

SimplyGoodSoftware.pfx